<%- include('./layouts/layout', { title: title, body: `
<div class="row">
  <div class="col-md-12 text-center">
    <div class="alert alert-danger">
      <h1>Error</h1>
      <p><%= message %></p>
      <a href="/" class="btn btn-primary mt-3">Back to Home</a>
    </div>
  </div>
</div>
` }) %>
